<% @prizes.each do |pa|%>
	<div><%= image_tag pa.image.url,class:"profile_image border border-light",style:"width:200px"%></div>
	<p>Prize's name: <%=pa.name%></p>
	<p>Prize's description: <%=pa.description%></p>
	<p>Points to be redeem: <%=pa.cost%></p>
	
	
	

<%end%>